body{
	margin: 0;
}
header{	
	width: 100%;
	position: fixed;
	z-index: 9;
	background: transparent;
	transition:all .3s;
	top:0;
}
header.active{
	background: #fff;
}
ul{
	padding:0;
	margin:0 !important;
}
li{
	padding-top: 0px;
	color: white;
	list-style: none;
}
header .logo{
	background: #ffff;
	padding:13px;
	overflow: hidden;
	max-height: 100px;
	transition:all .3s;
}
header.active .logo{
	transition:all .3s;
	max-height: 0px;
	padding:0;
}
header img{
	margin-left: 9%;
	width: 100%;
	max-width:50px;
}
.no_padding{
	padding: 0 !important;
}
.no_margin{
	margin:0 !important;
}
.parrafo{
	margin-left: 50px;
	margin-right: 50px;
}
nav{
    z-index: 3;
    width: 100%;
}
nav .menu{
	width: 100%;
	box-shadow: 1px 2px 4px grey;
	text-align: right;
}
.navegacion{
	color:#ffff;
}
.navegacion ul{
	list-style:	none;
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu >li > a{
	display: block;
	padding: 15px 20px;
	color:#fff;
	text-decoration: none;
	justify-content: space-between;
	font-size: 13px;	
	letter-spacing: 1px;
}
header.active .menu > li > a{
	color:#000;
}
.menu li a:hover{
	color: gray;
	transition: all .3s;
}
.submenu{
	position: absolute;
	background: #3333;
	display: none;
}
.submenu li a {
	display: block;
	margin:15px;
	color: #ffff;
	text-decoration: none; 
	text-transform: uppercase;
	font-weight: bold;
}
.menu li{
	text-transform: uppercase;
}
.menu li:hover .submenu{
	display: block;
	visibility: visible;
	opacity: 1;
}
/*.menu li:hover .submenu{
display: block;
}*/
#slider{
	position:relative;
}
.bgHome *{
	position: relative;
	z-index: 3;
}
.bgHome h2{
	color: #fff;
    max-width: 800px;
    text-align: center;
    font-size: 44px;
}
#slider:before{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity: .5;
	z-index: 1;
}
.sliderHome .bgHome{
	background-color:skyblue;
	min-height: 100vh;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
    display: flex;
    align-items: center;
	justify-content: center;
	background-attachment: fixed;
}
#casa{
	padding-top: 50px;
}
#casa img{
	width: 100px;
    height: 100px;
	border-radius: 150px;
	border:4px solid #BEB5B5
}
#casa p{
	font-size: 13px;
    margin: auto;
    max-width: 370px;
}
#texto{
	padding:50px 0;
}
#texto img{
	width:100%;
}	
#texto ,.row{
	align-items: center;
}
#casa p{
	color: #CE6809;
	font-size: 16px;
}
#imb h1,h2{
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
}
#imb p {
	margin-top:1%; 
	text-align: center;
}

#imb img{
	width: 100%;
	margin-top: 10%;
}

#imb{
	padding-top:50px;
	padding-bottom: 50px;
}

#banner {
background-image: url(../img/banner.jpg);
width: 100%;
height: 100%;
padding-top: 4%; 
background-size: cover;		
position:relative;
text-align: center;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
}
#banner:before{
	content:'';
	opacity:0.5;
	background-color: #000;
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
	top: 0; 
	left:0;
}
#banner *{	
	position: relative; 
	z-index: 3;
}
#banner h1{
	font-size: 70px;
}
.clase1{
background-image: url(../img/banner2.jpg);
width: 100%;
height: 100%;
padding-top: 4%; 
background-size: cover;		
position:relative;
text-align: center;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: #fff;

}
.clase1 h1 p{
	 font-size:80px;
	 font-family:"palace script mt" ;
	 text-align: center;
	 color: #ffff;	
}
.clase1:before{
	content:'';
	opacity:0.5;
	background-color: #000;
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
	top: 0; 
	left:0;
}
.clase1 *{	
	position: relative; /*siempre tiene que llevar positon si quieres utilizar z-index*/
	z-index: 3;
}
.btn{
	margin-bottom: 50px;
    margin-top: 15px;
}
#m_v{
	background-image: url(../img/banner2.jpg);
	width: 100%;
	height: 100%;
	padding-top: 4%; 
	background-size: cover;		
	position:relative;
	text-align: center;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;	
}
#m_v:before{
		content:'';
		opacity:0.4;
		background-color: #000;
		position: absolute;
		width: 100%;
		height:100%;
		z-index: 1;
		top: 0; 
		left:0;
	}
	#m_v *{	
		position: relative; /*siempre tiene que llevar positon si quieres utilizar z-index*/
		z-index: 3;}
#m_v h1,h2{
	font-size: 30px;
}
#m_v h1,h2{
	padding-top: 50px;
}
#center{
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
margin-left: auto;
margin-right: auto;
max-width: 800px;
	}
	#center h1{
		margin-top:20px;
		margin-bottom:25px;
	}
.cent h1 p{
text-align: center;
}
#serv{
padding-top:50px ;
padding-bottom: 50px;
}	
#serv h1{
	text-align:center;
	color:#D87507;
	padding-bottom: 20px;
	margin-bottom:30px;
}
#serv p{
	margin-top:20px;
}
.mx_w img{
max-width: 100px;
margin-left: 50px;
}
#video{
	padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 500px;
}
#video h1{
	text-align: center;
	padding-bottom: 20px;
	color:#D87507;
}
.layer{
  margin:auto;
  max-width: 850px;
  padding-top:70px ;

}
#home_contactos{
	padding-bottom: 50px;
	padding-top: 50px;
}
.pd_20{
	margin-bottom: 170px;

}
.pd_20 h1{
	padding-bottom: 10px;
}
.text  h2{
	padding-left: 180px;

}
form {
	max-width: 500px;
	margin: auto;
}

.btn2{
	margin-bottom: 25px;
	margin-top: 15px;
	margin-left: 200px;	
}
#cont h1{
	text-align: center;
 	font-weight: bold; 
 	padding-top: 15px; 
 	color: #CE6809; 
}
.pd_2 img {
	padding-bottom: 35px;
	padding-top: 50px;
	margin-left: 100px;	
}
.pd_3 img{
	padding-bottom: 35px;	
	margin-left: 100px;
	padding-top: 50px;
}
#footer{
	background-color:#000000db;
	padding:0px 0 0;
}
#footer h4{
	color:#fff;
}
#footer p{
	margin:0;	
}
#footer .redes{
	padding:50px 0;
}
#footer .datos{
	padding:30px 0 0;
}
#footer .datos p a{
	color:#fff;
	margin:0;
	text-decoration: none;
}
#footer .legal{
	padding:10px 0;
	background-color: #000;
}
#footer .icos img{
	max-height: 20px;
}
#footer img{
	max-width:50px;
}
#contacto h3{
	margin:0;
	margin-bottom:50px;
	color:#fff;
	font-size:32px;
}
#contacto{
	background-image: url('../img/bg-1.jpg');
    background-size: cover;
    background-position: center;
	padding: 100px 0;
	position:relative;
	background-attachment: fixed;
}
#contacto *{
	position: relative;
	z-index: 3;
}
#contacto:before{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	opacity: .4;
	background-color:#000;
	top:0;
	left:0;
}
#contacto a{
	padding: 10px 20px;
    background-color: #d25b3b;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}
.list{
	padding:0 50px;
}
.list ul li{
	margin:15px 0;
	padding-left:50px;
	background-image: url('../img/tick.png');
	background-size:24px;
	background-position: left;
	background-repeat: no-repeat;
}
.list ul li span{
	color:#000;
}
@media(max-width:468px){
	.menu{
		display:none;
	}
	.bgHome h2{
		padding:0 20px;
		font-size:22px;
	}
	#casa img{
		margin-top:10px;
		margin-bottom:10px;
	}
	#footer .rtext-center{
		text-align:center !important;
	}
	#footer .rtext-left{
		text-align:left !important;
	}
	#footer .flogo{
		padding-top: 20px;;
	}
	.list{
		padding:0 20px;
	}
}